@import url(http://fonts.googleapis.com/css?family=Codystar|Montserrat+Alternates|Raleway+Dots|Julius+Sans+One|Electrolize|Roboto);

body{
	background-color: #232428;
	color: #E6EAF3;
}

#clock {
	display: inline-block;
	border-radius: 15em;
	width: 30em;
	height: 30em;
	line-height: 30em;
	
	text-align: center;
	position: relative;	

	font-family: 'Montserrat Alternates', sans-serif;
	
	transition: .3s;
	
	margin: 0 auto;
	display: block;
}

.hourmin, .day{
	font-size: 10em;
	display: block;
	
	line-height: 1em;
}

.day{
	font-size: 3em;
	padding-top: 2.5em;
}

ul.seconds {
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	padding: 0;
	margin: 0;
}

ul.seconds li {
	width: .5em;
	height: .5em;
	background: #eee;
	
	background-color: #505357;
	list-style: none;
	display: block;
	position: absolute;	
	border-radius: 5em;
}


ul.seconds li.active{
	background-color: red;
	background-color: #e6eaf2;
}

ul.seconds li.big::after{
	content: "";
	width: .5em;
	height: .5em;
	background: red;
	background-color: red;
	background-color: #e6eaf2;
	position: absolute;
	right: -.9em;
	border-radius: 1em;
}

ul.seconds li.active.big::after{
	background-color: #e6eaf2;
}



.notransition {
	transition: 0;
}

.animation {
	-webkit-transform: scale(1.1);
	box-shadow: 0 0 50px white;
}